@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}


/*Custom text selection color  */

::selection{
  color:white;
  background: #B87C4C;
}

::-moz-selection{
  color:white;
  background: #B87C4C;
}

/*custom scrollbar  */
::-webkit-scrollbar{
  width: 6px;
}

/* track */
::-webkit-scrollbar-track{
  background: transparent;
}

/*handle  */
::-webkit-scrollbar-thumb{
  background:#a5a5a58f;
  border-radius: 20px;
}

/*handle on over  */
::-webkit-scrollbar-thumb:hover{
  background:#B87C4C;
}
